APP_DATABASE_CONNECTION_STRING="jdbc:postgresql://localhost/manicure_scheduler_bot?user=postgres&password=postgres"
APP_TELEGRAM_BOT_TOKEN=
# remove last / sign
APP_TIME_PICKER_URL=https://google.com
