<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Date and Time Picker</title>
  <link rel="stylesheet" href="/css/book-page-style.css">
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script> const callbackUrl = "[[${callbackUrl}]]";</script>
  <script src="/js/book-page.js"></script>
</head>
<body>
<div class="container">
  <div class="header">Select Date and Time</div>
  <div class="calendar">
    <div class="month-selector">
      <button id="prevMonth">&lt;</button>
      <span id="currentMonth"></span>
      <button id="nextMonth">&gt;</button>
    </div>
    <div class="weekdays">
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
      <div>Sun</div>
    </div>
    <div id="daysGrid" class="days"></div>
  </div>
  <div id="timeSlots" class="time-slots"></div>
  <button id="submitBtn" class="submit-btn">Submit</button>
</div>
</body>
</html>
