<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar</title>
  <link rel="stylesheet" href="/css/simple-calendar.css">
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body>
<div class="calendar-container">
  <header class="calendar-header">
    <p id="calendar-current-date"></p>
    <div id="calendar-navigation">
      <span id="calendar-prev" class="material-symbols-rounded">chevron_left</span>
      <span id="calendar-next" class="material-symbols-rounded">chevron_right</span>
    </div>
  </header>
  <div class="calendar-body">
    <ul class="calendar-weekdays">
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
      <li>Sun</li>
    </ul>
    <ul id="calendar-dates"></ul>
  </div>
  <script src="/js/simple-calendar.js"></script>
</div>
</body>
</html>
